/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
}

:root {
  --text-color: #a29bfe;
  --background: #6c5ce7;
}
*::selection {
  background-color: var(--text-color);
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  background: #fff;
}
section {
  padding: 2rem 5%;
}
/* header section styling start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 5%;
  background: #fff;
  box-shadow: 0px 0px 3px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.heading,
.heading1 {
  text-align: center;
  padding: 1rem;

  background: rgba(237, 199, 238, 0.3);
  font-size: 3rem;
  font-weight: bold;
  border-radius: 2px;
  margin: 2rem 0;
}

.logo {
  color: #666;
  font-size: 1.3rem;
  cursor: pointer;
}

span {
  color: var(--background);
}
.header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.header .navbar a {
  margin: 1rem;
  font-size: 1.9rem;
  font-weight: 600;
  cursor: pointer;
  color: #666;
}

.header .navbar a:hover {
  color: var(--background);
  border-bottom: 2px solid var(--background);
}
.header .navbar a.active {
  color: var(--background);
  border-bottom: 2px solid var(--background);
}

/* header section styling end */


/* home section styling start */

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 6vw;
  transition: 0.3s ease;
}

.content {
  width: 48%;
  height: 100%;

}

.content h3 {
  font-size: 5rem;
  color: #6c5ce7;
}

.content h1 {
  font-size: 4rem;
  font-weight: 500;
}

.content p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  font-weight: 600;
  color: #777;
  text-align: justify;
}

.img_box {
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_box img {
  height: 450px;
  width: 350px;
  border-radius: 10px;

  border-left: 2rem solid var(--background);
  border-bottom: 2rem solid var(--background);
  border-right: 2rem solid var(--text-color);
  border-top: 2rem solid var(--text-color);
}

.btn-box {
  margin: 2rem 0;
}

.btn1 {
  padding: 1.2rem 3rem;
  border: none;
  border-radius: 5px;
  background: var(--background);
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  box-shadow: 0px 0px 5px rgb(85, 85, 85);
  cursor: pointer;
  transition: 0.3s ease;
}

.btn1:hover {
  border: 2px solid var(--background);
  background: none;
  color: #666;
  padding: 1rem 3rem;
}

.btn2 {
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  border: 2px solid var(--background);
  font-size: 2rem;
  font-weight: 600;
  color: #333;
  box-shadow: 0px 0px 5px rgb(85, 85, 85);
  cursor: pointer;
  margin: 2rem;
  margin-left: 2px;
  transition: 0.3s ease;
}


.btn2:hover  {
  background: var(--background);
  color: #fff;
}

a{
  color: #333;
}
a:hover{
  color: #fff;
}

.header .fa-bars {
  font-size: 4rem;
  font-weight: 600;
  color: var(--background);
  cursor: pointer;
  display: none;
}

/* home section styling end */

/* about section styling start */

.about .row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.about .row .img {
  width: 48%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}
.about .row .img img {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  border: 2rem solid var(--background);
}

.about .row .about-content .about-box{
  display: flex;
  gap: 2rem;
  /* height: 10rem;
  width: 50rem; */
  margin: auto;
  /* background: #e9e7e7; */
}

.about .row .about-content .about-box .education{
  text-align: center;

padding: 1.5rem;
border-radius:5px;
border: 0.3rem solid var(--text-color);
font-size: 2rem;
color: var(--background);

}

.about .row .about-content .about-box .education p{
  font-size: 1.6rem;
  text-align: center;
  line-height: 13px;
}

.about .row .about-content .about-box .experience{
  text-align: center;
  padding: 1.5rem;
border-radius:5px;
border: 0.3rem solid var(--text-color);
font-size: 2rem;
color: var(--background);
  
  }
  .about .row .about-content .about-box .experience p{
    font-size: 1.6rem;
    text-align: center;
    line-height: 13px;
  }

.about .row .about-content {
  width: 48%;
  height: 100%;
  /* background-color: #a29bfe; */
  margin-bottom: 3rem;
  padding: 1.5rem;
}
.about .row .about-content h1 {
  font-size: 2.5rem;
  line-height: 5rem;
  color: #6c5ce7;
}
.about .row .about-content p {
  padding: 0.8rem;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #666;
  text-align: justify;
}
.about .row .icons {
  /* padding: 2rem; */
  margin-top: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.about .row .icons i {
  font-size: 3.5rem;
  border-radius: 50%;
  color: var(--background);
}

.about .row .icons i:hover {
  color: #5449a7;
}
/* about section styling end */

.project .row {
  position: relative;
  top: 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #8e84dd;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}
.row .box {
  position: relative;
  /* top: rem; */
  width: 300px;
  height: 200px;
  background: #fff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  border-right: 1rem solid var(--background);
  border-top: 1rem solid var(--background);
  border-bottom: 1rem solid var(--text-color);
  border-left: 1rem solid var(--text-color);
  border-radius: 10px;
  transition: 0.3s;
  padding: 30px 30px;
  cursor: pointer;
  margin: 2vw;
}

.box:hover {
  width: 350px;
  height: 380px;
}
.img {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-80px);
  z-index: 1;
}

img {
  width: 100%;
  border-radius: 10px;
  border-left: 0.8rem solid var(--background);
  border-bottom: 0.8rem solid var(--background);
  border-right: 0.8rem solid var(--text-color);
  border-top: 0.8rem solid var(--text-color);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.info {
  text-align: center;
  padding: 10px 20px;
  transform: translateY(-200px);
  transition: 0.3s ease;
  opacity: 0;
}

.box:hover > .info {
  opacity: 1;
  transform: translateY(-220px);
}

.info h3 {
  font-size: 3rem;
  color: #6c5ce7;
}

.info p {
  font-size: 1.3rem;
  text-align: justify;
  font-weight: 600;
}

.heading1 {
  position: absolute;
  bottom: 2%;
  right: 4vw;
  opacity: 1;
  color: #666;
  text-align: center;
}
.box:hover > .heading1 {
  opacity: 0;
}

/*project */

/* skill section start */

.skills .skill-container {
  width: 60%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  gap: 2rem;
  background: #e9e7e7;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  margin-top: 3vw;
}

.skill-container .box1 {
  width: 90%;
  background-color: #5449a7;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
}
.box1 h3 {
  font-size: 2.3rem;
  text-align: left;
  color: #ccc;
}

.skill-container .box1 li {
  margin: 15px 0;
  padding: 10px;
  width: 100%;

  /* text-align: left; */
}

.box1 .bar {
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: var(--text-color);
  display: block;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 0.1);
}

.bar:hover {
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.25),
    0px 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
  height: 20px;
  float: left;
  background: #fff;
}

.html {
  width: 80%;
  animation: html 3s;
}
.css {
  width: 70%;
  animation: css 3s;
}
.javascript {
  width: 50%;
  animation: javascript 3s;
}

.typescript {
  width: 50%;
  animation: typescript 3s;
}

.nextjs {
  width: 30%;
  animation: nextjs 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes typescript {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes nextjs {
  0% {
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

.contact .row {
  /* width: 80%; */
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  /* background: #fff; */
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.row .contact-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--text-color);
  position: relative;
  top: 4rem;
  border-radius: 5px;
}

.contact-box .icon {
  text-align: center;
  font-size: 3rem;
  width: 25rem;
  cursor: pointer;
  color: #fff;
  position: relative;

  /* top: rem; */
}

.icon i {
  position: relative;
  top: -4rem;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: #5449a7;
  padding-top: 1.5rem;
  color: #fff;
  border: 0.5rem solid #ccc;
}

.contact-box p {
  text-align: center;
  position: relative;
  bottom: 2rem;
  font-size: 2rem;
  color: #fff;
}

.contact-box a {
  color: #fff;
}

.contact .form {
  position: relative;
  /* top: -10rem; */
  width: 70%;
  height: 43rem;
  display: flex;

  /* gap: 2rem; */
  /* background: violet; */
  border-radius: 10px;
}

/* form{
  width: 80%;
  padding: 2rem;
  /* width: 70%; */
/* }  */

form .fa-user {
  font-size: 2rem;
  position: relative;
  left: 7rem;
}
form .fa-envelope {
  font-size: 2rem;
  position: relative;
  left: 7rem;
}

form .fa-comment {
  font-size: 2rem;
  position: relative;
  left: 7rem;
  top: -15rem;
}

form {
  width: 100%;
  /* background: rgb(128, 63, 128); */
}
form input {
  margin: 1rem 4rem;
  padding: 1.2rem;
  padding-left: 4rem;
  width: 80%;
  border-radius: 5px;
  font-size: 2rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

form input:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.24);
}

form textarea {
  margin: 1rem 4rem;
  width: 80%;
  border-radius: 5px;
  font-size: 2rem;
  padding: 1.2rem;
  padding-left: 4rem;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

form textarea {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.24);
}

form .btn {
  margin: 2.1rem 6rem;
}

.footer {
  width: 90%;
  margin: auto;
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: column;
  gap: 4rem;
  background: #a29bfe;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.footer .footer-section {
  width: 100%;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2rem solid #666;
  /* background: #fff; */
}

.footer .footer-section .navbar1 a {
  font-size: 2rem;
  margin: 1rem;
}

.footer .footer-section .navbar1 a:hover{
  color: #fff;
}

.footer .link {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
  width: 100%;
}

.footer .link p {
  font-size: 2rem;
}

.footer .link .para p span {
  color: #fff;
}

.footer .link .icons {
  font-size: 2.6rem;
  margin-right: 1rem;
}
.footer .link .icons a {
  color: #fff;
}

.footer .link .icons a:hover {
  color: #5449a7;
}

/* media query */

@media (max-width: 1024px) {
  section {
    width: 100%;
    padding: 1.5rem 3%;
  }

  .home {
    width: 100%;
  }
  .row .box {
    margin: 4vw;
  }

  .heading1 {
    right: 6vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 3%;
  }

  section {
    width: 100%;
    /* padding: 2rem 5%; */
  }

  .home {
    position: relative;
    top: 5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: center;
    /* background: #d2d1eb; */
    /* padding: 1.5rem 8%; */
  }
  .content {
    width: 100%;
  }

  .content h1 {
    /* text-align: center; */
    font-size: 6rem;
  }
  .content h3 {
    font-size: 6rem;
    /* text-align: center; */
  }
  .content p {
    /* text-align: justify; */
    font-size: 2rem;
    line-height: 4rem;
  }
  .img_box {
    position: relative;
    top: -4rem;
    width: 100%;
    margin-top: 2%;
  }

  .img_box img {
    /* margin-left: 12rem; */
    width: 400px;
    height: 500px;

    /* border-left: 2rem solid var(--background);
    border-bottom: 2rem solid var(--background); */
  }

  .logo {
    font-size: 1.8rem;
  }

  .header .fa-bars {
    display: block;
  }
  .navbar {
    position: fixed;
    top: 10rem;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: column;
    transition: 0.3s ease;
    padding: 2rem 5%;
    background: #a29bfe;
    /* display: none; */
    opacity: 0;
    z-index: 1;
  }

  .navbar a {
    padding: 2rem;
    background: #fff;
    width: 100%;
    box-shadow: 0px 0px 5px grey;
    border-radius: 10px;
    text-align: center;
    font-size: 3rem;
    color: #333;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .header .nav-toggle {
    top: 8rem;
    opacity: 1;
  }

  .about .row {
    padding: 3rem;
  }

  .about .row .img {
    width: 100%;
  }
  .about .row .about-content {
    width: 100%;
  }
  .about .row .about-content h1 {
    line-height: 6rem;
    font-size: 4rem;
  }
  .about .row .about-content p {
    font-size: 2rem;
    line-height: 3rem;
    text-align: justify;
  }
  .about .row .about-content .about-box{
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
  }
  .about .row .about-content .about-box .education{
    font-size: 2.5rem;
    /* padding: 0; */
  }
  .about .row .about-content .about-box .education p{
    text-align: center;
    font-size: 2.5rem;
    /* padding: 0.5rem; */
  }

  .about .row .about-content .about-box .experience{
    font-size: 2.5rem;

    /* padding: 0; */
  }
  .about .row .about-content .about-box .experience p{
    font-size: 2.5rem;
    text-align: center;
    /* padding: 0.5rem; */
  }
  .about .row .icons i {
    font-size: 4.5rem;
  }
  .row .box {
    margin: 7vw;
  }
  .heading1 {
    right: 8rem;
  }

  .footer .footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer .link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skills .skill-container {
    width: 90%;
  }

  .contact .row {
    width: 100%;
    flex-direction: column;
  }
  .row .contact-box {
    margin: 1rem;
    width: 30rem;
    text-align: center;
  }

  .icon i {
    position: relative;
    left: 2rem;
  }

  .contact-box p {
    left: 2rem;
    font-size: 3rem;
  }

  .contact .form {
    position: relative;
    /* top: -10rem; */
    width: 100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
  }

  form input {
    width: 90%;
    margin: 1rem ;
    font-size:2.5rem;
    /* padding: 1.2rem; */

  }
  
form textarea{
  width: 90%;
  margin: 1rem ;
  font-size:2rem;
}

form .fa-user {

  left: 4.5rem;
}
form .fa-envelope {

  left: 4.5rem;
}

form .fa-comment {

  left: 4.5rem;
  /* top: -15rem; */
}
}

